<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default :: head"></head>
<body>
    <nav th:replace="layouts/default :: nav"></nav>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">

                       <form autocomplete="off"  action="#" th:action="@{/register}"
                             th:object="${user}" method="post"
                             role="form">
                           <div class="card-header">
                               Inscription
                           </div>
                           <div class="card-body">
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="text" th:field="*{name}" placeholder="Name"
                                                  class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                                  class="invalid-feedback">Name Error</label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="email" th:field="*{email}" placeholder="Email"
                                                  class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                                  class="invalid-feedback"></label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="password" th:field="*{password}" placeholder="Password"
                                                  class="form-control"  th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                                  class="invalid-feedback"></label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="text" th:field="*{status}" placeholder="Status"
                                                  class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                                  class="invalid-feedback"></label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="text" th:field="*{ceo}" placeholder="Nom PDG"
                                                  class="form-control"  th:classappend="${#fields.hasErrors('ceo')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('ceo')}" th:errors="*{ceo}"
                                                  class="invalid-feedback"></label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="text" th:field="*{capital}" placeholder="Capital (Ar | Dollar | Euro)"
                                                  class="form-control" th:classappend="${#fields.hasErrors('capital')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('capital')}" th:errors="*{capital}"
                                                  class="invalid-feedback"></label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="text" th:field="*{hq}" placeholder="Siège"
                                                  class="form-control" th:classappend="${#fields.hasErrors('hq')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('hq')}" th:errors="*{hq}"
                                                  class="invalid-feedback"></label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="form-group">
                                       <div class="col-12">

                                           <input type="text" th:field="*{activity}" placeholder="Activité économique"
                                                  class="form-control"  th:classappend="${#fields.hasErrors('activity')} ? 'is-invalid' : 'is-normal'"/>
                                           <label th:if="${#fields.hasErrors('activity')}" th:errors="*{activity}"
                                                  class="invalid-feedback"></label>
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="co-12">
                                       <button type="submit" class="btn-lg btn-primary">Enregistrer</button>
                                   </div>
                               </div>
                           </div>
                       </form>
                   </div>
               </div>
            </div>
        </div>
    </section>
    <div th:replace="layouts/default :: script"></div>
    </body>
</html>