<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default :: head"></head>
<body>
    <nav th:replace="layouts/default :: nav"></nav>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off"  action="#" th:action="@{/register}"
                          th:object="${user}" method="post"
                          role="form">
                        <h2>Registration Form</h2>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                           class="validation-message">Name Error</label>
                                    <input type="text" th:field="*{name}" placeholder="Name"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                           class="validation-message"></label>
                                    <input type="email" th:field="*{email}" placeholder="Email"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                           class="validation-message"></label>
                                    <input type="password" th:field="*{password}" placeholder="Password"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{status}" placeholder="Status"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('ceo')}" th:errors="*{ceo}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{ceo}" placeholder="Nom PDG"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('capital')}" th:errors="*{capital}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{capital}" placeholder="Capital (Ar | Dollar | Euro)"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('hq')}" th:errors="*{hq}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{hq}" placeholder="Siège"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-12">
                                    <label th:if="${#fields.hasErrors('activity')}" th:errors="*{activity}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{activity}" placeholder="Activité économique"
                                           class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="co-12">
                                <button type="submit" class="btn-lg btn-primary">Enregistrer</button>
                            </div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </section>

    </body>
</html>