<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default :: head"></head>
<body>
    <nav th:replace="layouts/default :: navbar"></nav>
    <section style="margin-top: 15px">
        <div class="container">
            <h1 class="text-center">Tableau de bord</h1>
            <p class="text-center" style="margin-bottom: 25px"><small  th:text="'Bienvenue: '+  ${#authorization.getAuthentication().getName()}">Bienvenue: Anonyme</small></p>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <h3 class="col-10 text-left">Facture</h3>
                                <p class="col-2"><a href="/admin/invoice/add" class="btn btn-block btn-success">Ajouter</a></p>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Identifiant</th>
                                    <th>Cleint</th>
                                    <th>Produit</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="invoice : ${invoices}">
                                    <td th:text="${invoice.identifier}">Tiger Nixon</td>
                                    <td th:text="${invoice.getClient().name}">System Architect</td>
                                    <td th:attr="data-products=${invoice.products}" class="products"></td>
                                    <td th:text="${#dates.format(invoice.created_at, 'dd MMMM yyyy')}">dd/MMM/yyyy</td>
                                    <td>
                                        <a th:href="'/admin/invoice/'+${invoice.id}" class="btn btn-outline-primary btn-sm">Voir</a>
                                        <a th:href="'/admin/invoice/'+${invoice.id}+'/delete'" class="btn btn-outline-danger btn-sm">Supprimer</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="layouts/default :: script"></div>
</body>
</html>