<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Layout page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>

            <ul class="navbar-nav my-2 mt-lg-2">
                <li class="nav-item" th:if="${#authorization.getAuthentication().getName() == 'anonymousUser'} ">
                    <a class="nav-link" href="/login" >Connexion</a>
                </li>
                <li class="nav-item" th:if="${#authorization.getAuthentication().getName() == 'anonymousUser'} ">
                    <a class="nav-link" href="/register">Inscription</a>
                </li>
                <li class="nav-item" th:if="${#authorization.getAuthentication().getName() != 'anonymousUser'} ">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <section th:fragment="content">
        <p>Page content goes here</p>
    </section>
    <footer th:fragment="footer">
        <div class="container">
            <p>My footer</p>
        </div>
    </footer>
    <div th:fragment="script">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#datatable').DataTable();
                $('.select2').select2();

                $('.row td.products').each(function(){
                    var product = $(this).data('products');
                    var txt = '';
                    product.products.forEach(function(element, index){
                        if(index < 4 && element.product != undefined){
                            txt += index == 0 ? element.product : ', ' +element.product;
                        }
                    });
                    $(this).text(txt);
                });
               if($('#product-show-page').length != 0){
                   var productShow = $('#products-show').data('products');
                   if(productShow != undefined){

                       $('#sub-total').text(productShow.stotal);
                       $('#tax').text(productShow.tax + '%');
                       $('#tax-amount').text(productShow.taxtAmount);
                       $('#g-total').text(productShow.gtotal);
                   }
                   $('#tab_logic tbody').html('');
                   productShow.products.forEach(function(value, index){
                       //ajout tableau
                       if(value.product != undefined){
                           var $td = $(' <td>'+(index+1)+'</td>\n' +
                               '<td>'+value.product+'</td>\n' +
                               '<td>'+value.qty+'</td>\n' +
                               '<td>'+value.price+'</td>\n' +
                               '<td>'+value.total+'</td>');
                           $('#tab_logic tbody').append('<tr id="addr'+(index+1)+'"></tr>').append($td);
                       }
                   });
               }
                var i=1;
                $("#add_row").click(function(e){
                    b=i-1;
                    e.preventDefault();
                    $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
                    $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
                    i++;
                });
                $("#delete_row").click(function(e){
                    e.preventDefault();
                    if(i>1){
                        $("#addr"+(i-1)).html('');
                        i--;
                    }
                    calc();
                });

                $('#tab_logic tbody').on('keyup change',function(){
                    calc();
                });
                $('#tax').on('keyup change',function(){
                    calc_total();
                });


            });

            function calc()
            {
                $('#tab_logic tbody tr').each(function(i, element) {
                    var html = $(this).html();
                    if(html!='')
                    {
                        var qty = $(this).find('.qty').val();
                        var price = $(this).find('.price').val();
                        $(this).find('.total').val(qty*price);

                        calc_total();
                    }
                });
            }

            function rowToJson()
            {
                var JsonResult = {
                    gtotal: 0,
                    tax: 0,
                    taxtAmount: 0,
                    stotal: 0,
                    products: []
                };
                $('#tab_logic tbody tr').each(function (element) {

                    var product = $(this).find('.product').val();
                    var qty = $(this).find('.qty').val();
                    var price = $(this).find('.price').val();
                    var total = $(this).find('.total').val();
                    JsonResult.gtotal = $('#total_amount').val();
                    JsonResult.tax = $('#tax').val();
                    JsonResult.taxtAmount = $('#tax_amount').val();
                    JsonResult.stotal = $('#sub_total').val();
                    JsonResult.products.push({
                        product, qty, price, total
                    });
                })
                return JsonResult;
            }

            function calc_total()
            {
                var jsonProducts = JSON.stringify(rowToJson());
                $('#products-json').val(jsonProducts);
                total=0;
                $('.total').each(function() {
                    total += parseInt($(this).val());
                });
                $('#sub_total').val(total.toFixed(2));
                tax_sum=total/100*$('#tax').val();
                $('#tax_amount').val(tax_sum.toFixed(2));
                $('#total_amount').val((tax_sum+total).toFixed(2));
            }
        </script>
    </div>
</body>
</html>