<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/default :: head"></head>
<body>
<nav th:replace="layouts/default :: navbar"></nav>
<section style="margin-top: 15px">
    <div class="container">
        <h1 class="text-center">Ajout Facture</h1>
        <p class="text-center" style="margin-bottom: 25px"><small>Formulaire Ajout Facture et ajout client</small></p>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <form action="#" method="post" th:object="${invoice}" autocomplete="off"  th:action="@{/admin/invoice/add}">
                    <div class="row">
                        <div class="col-6">
                            <h3 th:text="${user.name} +' '+${user.status}">Société</h3>
                            <address th:text="${user.hq}">Adresse</address>
                            <p></p>
                        </div>
                        <div class="col-6">
                            <p>Facture</p>
                            <br>
                            <p th:text="${#dates.format(now, 'dd MMMM yyyy')}">Date: January 1, 2015</p>
                            <div class="form-group">
                                <select class="select2 form-control" th:field="*{client}">
                                    <option th:value="${null}">Selectionné nom du client</option>
                                    <option  th:each="cl : ${clients}" th:text="${cl.name} +' '+ ${cl.lastname}" th:value="${cl.id}">Client</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover" id="tab_logic">
                                    <thead>
                                    <tr>
                                        <th class="text-center"> # </th>
                                        <th class="text-center"> Produit </th>
                                        <th class="text-center"> Qté </th>
                                        <th class="text-center"> Prix </th>
                                        <th class="text-center"> Total </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id='addr0'>
                                        <td>1</td>
                                        <td><input type="text" name='product[]'  placeholder='Enter Product Name' class="form-control product"/></td>
                                        <td><input type="number" name='qty[]' placeholder='Enter Qty' class="form-control qty" step="0" min="0"/></td>
                                        <td><input type="number" name='price[]' placeholder='Enter Unit Price' class="form-control price" step="0.00" min="0"/></td>
                                        <td><input type="number"  name='total[]' placeholder='0.00' class="form-control total" readonly/></td>
                                    </tr>
                                    <tr id='addr1'></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-7">
                                <button id="add_row" class="btn btn-sm btn-secondary pull-left">Ajouter</button>
                                <button id='delete_row' class="pull-right btn btn-sm btn-secondary">Supprimer</button>
                            </div>
                            <div class="col-5" style="margin-top:20px">
                                <div class="pull-right">
                                    <table class="table table-bordered table-hover" id="tab_logic_total">
                                        <tbody>
                                        <tr>
                                            <th class="text-center">Sous Total</th>
                                            <td class="text-center"><input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">TVA</th>
                                            <td class="text-center"><div class="input-group mb-2 mb-sm-0">
                                                <input type="number" class="form-control" id="tax" placeholder="0">
                                                <div class="input-group-addon">%</div>
                                            </div></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Montant TVA</th>
                                            <td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/></td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Grand Total</th>
                                            <td class="text-center"><input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <input type="text"th:field="*{products}" id="products-json">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <p class="col-10 text-left">Ajout client</p>
                        </div>
                    </div>
                    <div class="card-body">
                         <form autocomplete="off"  action="#" th:action="@{/admin/client/add}"
                                 th:object="${client}" method="post"
                                 role="form">

                            <div class="form-group">
                                <div class="form-group">
                                    <div class="col-12">
                                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                               class="validation-message">Name Error</label>
                                        <input type="text" th:field="*{name}" placeholder="Nom"
                                               class="form-control"/>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                                 <div class="form-group">
                                     <div class="col-12">
                                         <label th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"
                                                class="validation-message">Name Error</label>
                                         <input type="text" th:field="*{lastname}" placeholder="Prenom"
                                                class="form-control"/>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="col-12 ">
                                     <button type="submit" class="btn btn-primary">Ajouter</button>
                                 </div>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="layouts/default :: script"></div>
</body>
</html>